body {
    background-color: rgb(238, 238, 238)
}

.title {
    font-family: "Roboto", serif;
    font-size: 65px;
    color: white;
    display: flex;

}

.para {}



.exp {

    color: Orange;
    font-weight: 800;
    font-size: 60px;
    /*    */


}



.bg {

    background-color: rgb(36, 35, 35);
}

.display-2 {
    font-family: "Poppins", serif;
    font-weight: 600;

    margin-top: 5px;
    color: rgba(0, 250, 208, 0.959);



}






.img {

    border-radius: 30px;

    height: 350px;
    width: 100%;
}



.img1 {
    margin-top: 20px;
}

.bttn {

    color: rgba(12, 13, 14, 0.767);
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    border: black solid 1px;

}

.banner {

    width: 100%;
    height: 600px;



}

.bttn:hover {
    background: -webkit-linear-gradient(rgb(8, 238, 226), rgb(0, 70, 75));
   
    transition: 2s;

    color: rgb(3, 3, 3);



}

.display-5 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: white;


}

.section1 {
    /* From https://css.glass */

    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    /* -webkit-backdrop-filter: blur(5px); */
    background: -webkit-radial-gradient(rgba(102, 46, 204, 0.705), rgb(36, 36, 36));
    border: 1px solid rgba(131, 8, 168, 0.342);
    height: 800px;
    width: 450px;
    margin-bottom: 20px;
    padding: 10px;
   
    box-shadow: 10px 20px 10px black;

}

.section1 h5 {
    margin-top: 10px;
    color: white;
}

.section2 h5 {
    margin-top: 10px;
    color: white;
}

.text {
    margin-top: 70px;
    font-size: 19px;
    font-family: "Roboto", serif;
    color: white;

}

.section2 {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    /* -webkit-backdrop-filter: blur(5px); */
    background: -webkit-radial-gradient(rgb(4, 126, 163), rgb(36, 36, 36));
    border: 1px solid rgba(5, 207, 21, 0.342);
    height: 800px;
    width: 450px;
    margin-bottom: 20px;
    box-shadow: 10px 20px 10px black;
    padding: 10px;
}

.section3 {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    /* -webkit-backdrop-filter: blur(5px); */
    background: -webkit-radial-gradient(rgb(0, 26, 170), rgb(36, 36, 36));
    border: 1px solid rgba(0, 4, 255, 0.651);
    height: 800px;
    width: 450px;
    margin-bottom: 20px;
    box-shadow: 10px 20px 10px black;
    padding: 10px;
}

.section4 {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    /* -webkit-backdrop-filter: blur(5px); */
    background: -webkit-radial-gradient(rgb(1, 70, 173), rgb(36, 36, 36));
    border: 1px solid rgba(0, 92, 230, 0.774);
    height: 800px;
    width: 450px;
    margin-bottom: 20px;
    box-shadow: 10px 20px 10px black;
    padding: 10px;
}

.card1 {
    animation-delay: 0.1s;
}

.card2 {
    animation-delay: 0.2s;
}

.card3 {
    animation-delay: 0.3s
}

.card4 {
    animation-delay: 0.5s;
}
.bg2{
    width: 100%;
    height: 850px;
    
}
.mobilebox{
    height: 800px;
    width: 500px;
    border-radius: 30px;
    background: rgb(75, 74, 74);
   margin-top: 17px;
   box-shadow: 10px 20px 10px black;
   justify-items: end;
  background-image: url(images/map.PNG);
   

}
.mbox{
    margin-top: 30px;
    font-size: 30px;
    margin-right: 20px;
   
    
    
  
}


